{
  "presets": [
    "next/babel",
    "react",
    "stage-0",
    "stage-1"
  ],
  "plugins": [
    [ "styled-jsx/babel" ],
    ["transform-define", "./env-config.js"],
    ["module-resolver", { "root": ["./src"] }],
    ["import", { "libraryName": "antd-mobile" }]
  ]
}
