@import "./mixin.less";
@import "./vars.less";

:global {
  body {
    background-color: #eee !important;
  }

  .flex-box {
    display: flex;
  }

  .flex-item {
    flex: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .am-accordion-header {
    font-size: 0.28rem !important;
    font-weight: bold;
  }

  .am-grid-item-content {
    height: auto !important;
  }
}
